/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100% !important;
}
:host body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep {
  .mat-typography{
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
  }
}
