<section class="home-container">
  <div>
    <div class="banner-content">
      <h1>Financeiro</h1>
      <p>Lorem ipsum dolor sit amet.</p>
      <button
        class="bannerBtn"
        mat-raised-button
        color="primary"
        (click)="scrollToSectionContratacao()"
        aria-label="contrate agora"
      >
        Contrate agora!
      </button>
    </div>
  </div>
</section>
<section class="sobre-container">
  <h2 class="secondTitle" id="contratacao">Lorem Ipsum</h2>
  <div class="text-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra
      nulla vel erat porta semper. Suspendisse mollis neque non neque sagittis,
      a hendrerit dolor blandit. Ut leo ex, tincidunt sed pharetra nec, laoreet
      et sapien. Aliquam nulla erat, ullamcorper luctus arcu ac, tincidunt
      lobortis nisl. Sed pretium at urna ut finibus. Maecenas aliquet varius mi
      ac rhoncus. Phasellus eget orci tortor. Maecenas eleifend tempus lorem,
      sit amet rhoncus metus viverra nec. Suspendisse aliquet laoreet eros,
      porttitor semper elit mollis ut. Curabitur arcu neque, consectetur id
      lacus ac, condimentum
    </p>
    <button
      class="sobreBtn"
      mat-raised-button
      color="primary"
      aria-label="contrate agora"
    >
      Lorem Ipsum
    </button>
  </div>
</section>
<section class="cards-container">
  <div class="cards">
    <mat-card class="card">
      <mat-card-content>
        <h3 class="card-title">Conferir Renda Variável</h3>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-card">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          viverra nulla vel erat porta semper. Suspendisse mollis neque non
          neque sagittis, a hendrerit dolor blandit.
        </p>
        <button class="cardBtn" mat-raised-button color="primary">Lorem Ipsum</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <h3 class="card-title">Conferir Renda Fixa</h3>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-card">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          viverra nulla vel erat porta semper. Suspendisse mollis neque non
          neque sagittis, a hendrerit dolor blandit.
        </p>
        <button class="cardBtn" mat-raised-button color="primary">Lorem Ipsum</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <h3 class="card-title">Conferir Nosso FII</h3>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-card">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          viverra nulla vel erat porta semper. Suspendisse mollis neque non
          neque sagittis, a hendrerit dolor blandit.
        </p>
        <button class="cardBtn" mat-raised-button color="primary">Lorem Ipsum</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-content>
        <h3 class="card-title">Consultoria</h3>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="text-card">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          viverra nulla vel erat porta semper. Suspendisse mollis neque non
          neque sagittis, a hendrerit dolor blandit.
        </p>
        <button class="cardBtn" mat-raised-button color="primary">Lorem Ipsum</button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<app-footer></app-footer>
